.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 0;
  }
}
