.authPage__submit-button {
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 0 14px;
  overflow: hidden;
  border: none;
  transition: opacity linear 0.1s;
  margin-bottom: 20px;
}

.authPage__submit-button:hover {
  opacity: 0.8;
}
