.popup__content {
  display: flex;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  width: 430px;
  min-height: 160px;
  background-color: white;
  border-radius: 10px;
}

@media screen and (max-width: 1279px) {
  .popup__content {
    width: 282px;
    padding: 25px 22px;
  }
}
